#{extends 'Secure/layout.html' /}
#{set title:'S\'authentifier - L\'Addition SVP!' /}
#{set 'moreScripts'}
	<script type="text/javascript">
	$(document).ready(function() {
		$(".keyEventListener").keypress(function (e) {  
        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {  
            $("#authenticate").submit();
        } });  
    });  
	</script>
#{/set}
<div id="login">
	#{form @authenticate(), name:'authenticate', id:'authenticate'}
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<p id="username-field">
			<label for="username">&{'secure.username'}</label>
			<input type="text" name="username" id="username" class="keyEventListener" value="${flash.username}" />
		</p>
		<p id="password-field">
			<label for="password">&{'secure.password'}</label>
			<input type="password" name="password" id="password" class="keyEventListener"  value="" />
		</p>
		<p id="remember-field">
			<input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			<label for="remember">&{'secure.remember'}</label>
		</p>
	    <p id="signin-field" class="buttons">
	        <a href="#" id="signin" onclick="document.authenticate.submit();">&{'secure.signin'}</a>
	    </p>
	#{/form}
</div>